<div class="flex min-h-screen items-center bg-gray-50 p-6 dark:bg-gray-900">
  <div
    class="mx-auto h-full max-w-4xl flex-1 overflow-hidden rounded-lg bg-white shadow-xl dark:bg-gray-800"
  >
    <div class="flex flex-col overflow-y-auto md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <img
          aria-hidden="true"
          class="h-full w-full object-cover dark:hidden"
          src="/assets/images/login-office.jpeg"
          alt="Office"
        />
        <img
          aria-hidden="true"
          class="hidden h-full w-full object-cover dark:block"
          src="/assets/images/office-dark.jpeg"
          alt="Office"
        />
      </div>
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
        <div class="w-full">
          <h1
            class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
          >
            Create account
          </h1>
          <Ui::InputGroup
            class="mt-4"
            @label="Email"
            @fieldName="email"
            @type="email"
          />
          <Ui::InputGroup
            class="mt-4"
            @label="Password"
            @fieldName="password"
            @type="password"
          />
          <Ui::InputGroup
            class="mt-4"
            @label="Confirm Password"
            @fieldName="password-confirmation"
            @type="password"
          />

          <div class="mt-6 flex text-sm">
            <label class="flex items-center dark:text-gray-400">
              <input
                type="checkbox"
                class="form-checkbox focus:shadow-outline-purple dark:focus:shadow-outline-gray text-purple-600 focus:border-purple-400 focus:outline-none"
              />
              <span class="ml-2">
                I agree to the
                <span class="underline">privacy policy</span>
              </span>
            </label>
          </div>

          <button
            type="submit"
            class="focus:shadow-outline-purple mt-4 block w-full rounded-lg border border-transparent bg-purple-600 px-4 py-2 text-center text-sm font-medium leading-5 text-white transition-colors duration-150 hover:bg-purple-700 focus:outline-none active:bg-purple-600"
          >
            Create account
          </button>

          <hr class="my-8" />

          <p class="mt-4">
            <LinkTo
              class="text-sm font-medium text-purple-600 hover:underline dark:text-purple-400"
              @route="login"
            >
              Already have an account? Login
            </LinkTo>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>